.layout {
  --radius: 1.2rem;

  min-width: var(--ytd-watch-flexy-sidebar-min-width);
  max-width: var(--ytd-watch-flexy-sidebar-width);
  height: var(--yooloop-height);
  border: 1px solid var(--yt-spec-10-percent-layer);
  border-radius: var(--radius);
  margin-bottom: 1.2rem;
  display: flex;
  flex-direction: column;
  background-color: white;
}
