html {
  font-family: Roboto, Arial, sans-serif;
  position: relative;

  --color-sky-100: oklch(95.1% 0.026 236.824);
  --color-sky-500: oklch(68.5% 0.169 237.323);

  --color-zinc-100: oklch(96.7% 0.001 286.375);
  --color-zinc-500: oklch(55.2% 0.016 285.938);

  --color-emerald-200: oklch(90.5% 0.093 164.15);
  --color-emerald-500: oklch(69.6% 0.17 162.48);

  --color-blue-100: oklch(93.2% 0.032 255.585);
  --color-blue-200: oklch(88.2% 0.059 254.128);
  --color-blue-500: oklch(62.3% 0.214 259.815);
}
