html {
  font-family: Roboto, Arial, sans-serif;

  --color-sky-100: oklch(95.1% 0.026 236.824);
  --color-sky-500: oklch(68.5% 0.169 237.323);

  --color-zinc-100: oklch(96.7% 0.001 286.375);
  --color-zinc-500: oklch(55.2% 0.016 285.938);
}
